body {
    display: grid;
    place-items: center;
    margin: 0;
    background: url("/media/spikes.png");
}

header {
    background-color: wheat;
    width: 80vw;
    height: 20vh;
}

.main-nav > ul{
    background: url("/media/wheat.png");
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    padding: 0;
    margin: 0;
}

.nav-buttons {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    text-align: center;
    flex: 1 2 150px;
    margin: 0 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-buttons:hover {
    background-color: rgba(255, 255, 255, 0.315);
    background-image: url("/media/icons/guitar-icon.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.main-content{
    display: flex;
    width: 80vw;
    height: 70vh;
    margin: 0;
    flex-wrap: wrap;
}

.main-column{
    margin: 5% 5px;
}

.spotify-content{
    flex: 1 1 200px;
}

.material-content{
    flex: 3 1 300px;
    display: flex;
    flex-direction: column;
}

.carrousel {
    background: url("/media/Wind-Ens-1024x339.png");
    background-position: center;
    background-size: cover;
    flex: 3 3;
}
.min-calender {
    background-color: white;
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
}

.main-right-content {
    margin: 5px;
}

.pager-icon {
    height: 100%;
    width: 100%;
}

.calender-item {
    border: 1px solid black;
    flex: 1 1 400px;
    display: flex;
    padding: 0;
    margin: 0;
}

.calender-icon {
    background: url("/media/icons/calendar.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.calender-item > div {
    flex: 1;
}

.calender-item > p {
    flex: 3;
}

.main-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    height: 60vh;
}

.main-videos > iframe {
    flex: 1 1 550px;
    margin: 5px;
}

.main-calender {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    width: 80vw;
    height: 60vh;
}

.calender {
    flex: 1;
}

.pager-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(3, 3, 241, 0.335);
}

.pager-flex > p {
    flex: 2;
}

.pager-flex > ul {
    flex: 1;
    background-color: rgba(3, 3, 241, 0.246);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    padding: 2%;
    margin: 0;
}

.nav-buttons:hover {
    background-color: rgba(255, 255, 255, 0.315);
    background-image: url("/media/icons/guitar-icon.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.numero-paginador {
    flex: 1;
    height: 100%;
    width: 10%;
    text-align: center;
}

.numero-paginador:hover {
    background-color: rgba(255, 255, 255, 0.315);
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px dotted black;
}

.card {
    background-color: white;
    border: 1px solid red;
    flex: 1 1;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-middle-up {
    flex: 1 1 300px;
}

.card-middle-down {
    flex: 1 1 300px;
}

.card-middle-down > p{
    padding: 5%;
}

.card-middle-down > h2{
    padding-left: 5%;
}